{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}You go first!{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('collection.pickplayer') }}">Pick again</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="player">
      <p>{{ name }} gets to go first!</p>
    </article>
    <form method="post">
    <input type="hidden" name="playerlist" id="playerlist" value="">
    <input type="submit" value="Pick someone else!">
  </form>
    <script>
        console.log("{{pickagainlist}}")
        let players = "{{pickagainlist}}".split('_').join('\n');
        console.log(players);
        document.getElementById('playerlist').value = players;
    </script>
{% endblock %}