{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home Page{% endblock %}</h1>
    <a class="action" href="{{ url_for('collection.addgame') }}">Add a Game</a>
    <a class="action" href="{{ url_for('collection.pickgame') }}">Pick a Game to Play</a>
    <a class="action" href="{{ url_for('collection.pickplayer') }}">Pick a First Player</a>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  <div class="col-sm">
    <h1>Your Games</h1>
  {% for game in games %}
    <article class="game">
      <p>{{ game['name'] }}</p>
      <ul>
        <li>Minimum Players: {{ game['minplay'] }}</li>
        <li>Maximum Players: {{ game['maxplay'] }}</li>
        <li>Favorite?: <a class="action" href="{{ url_for('collection.togglefavorite', id=game['id']) }}">{{game['favorite']}}</a> </li>
      </ul>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
</div>
  <div class="col-sm">
<h1>People you play with</h1>
  {% for player in players %}
    <article class="player">
      <p>{{ player['name'] }}</
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
    </div>
    </div>
  </div>
{% endblock %}